## YAML Template.
---
notifications:
    email: false

language: java
jdk:
    - oraclejdk8

install:
    - wget http://downloads.sourceforge.net/project/checkstyle/checkstyle/7.6/checkstyle-7.6-all.jar

script:
    - java -jar checkstyle-7.6-all.jar -c checkstyle.xml src/main/java
