#apLeft {
  -fx-background-color: darkgoldenrod;
}

#btnView {
  -fx-background-color: darkkhaki;
}

#btnEditGraph {
  -fx-background-color: darkkhaki;
}

#btnEditValues {
  -fx-background-color: darkkhaki;
}

#btnDelete {
  -fx-background-color: darkkhaki;
}

#btnGraphAlgorithm {
  -fx-background-color: darkkhaki;
}

#btnRunDialog {
  -fx-background-color: darkkhaki;
}
